C:\Users\pc\git\2104chronosproj\433MHz - Unrestricted CCS Platinum\*
C:\Users\pc\git\2104chronosproj\bluerobin\*
C:\Users\pc\git\2104chronosproj\include\*
C:\Users\pc\git\2104chronosproj\868MHz - Unrestricted CCS Platinum\*
C:\Users\pc\git\2104chronosproj\simpliciti\*
C:\Users\pc\git\2104chronosproj\targetConfigs\*